<header id="page-header" class="top-bar pos-f-t" style="background-color: #fff">
    <div>
        <div id="top-bar" class="container-max">
            <div class="row">
                <div id="left-bar" class="col-xs-6 col-md-6 col-lg-6">
                    <item-search template="#vue-item-search"></item-search>
                </div>
                <div id="right-bar" class="col-xs-6 col-md-6 col-lg-6">
                    <ul class="heista-list pull-lg-right">

                        <li class="login">
                            
                                <a href="/login">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="hidden-xs-down">Mein Konto</span>
                                </a>
                               
                            
                        </li>
                        

                        {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
                        <li class="">
                            <wish-list-count>
                                <a>
                                    <span class="badge-right">0</span>
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </wish-list-count>
                        </li>
                        {% endif %}
                        <li class="">
                            <a v-toggle-basket-preview href="#" class="toggle-basket-preview">
                                {% if config("Ceres.header.basket_values") != "sum" %}
                                <span class="badge-right" v-basket-item-quantity="this.$store.state.basket.data.itemQuantity">0</span>
                                {% endif %}

                                <i v-waiting-animation="this.$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin"
                                    class="fa fa-shopping-cart" aria-hidden="true"></i>
                                {% if config("Ceres.header.basket_values") != "quantity" %}
                                <span class="badge" v-if="!$store.state.basket.showNetPrices" v-basket-item-sum="this.$store.state.basket.data.itemSum">0,00
                                    {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                                <span class="badge" v-else v-cloak v-basket-item-sum="this.$store.state.basket.data.itemSumNet">0,00
                                    {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                                {% endif %}
                            </a>

                            {% if config("Ceres.basket.preview_type") != "right" %}
                            <basket-preview template="#vue-basket-preview-hover" :show-net-prices="{{ showNetPrices | json_encode }}"></basket-preview>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-max">
            <div class="row">
                {{ LayoutContainer.show("Ceres::Header.LeftSide") }}
            </div>
        </div>
        {% include "HeistaDesign::content.Navigation" %}
    </div>
</header>


<!-- breadcrumb -->
{% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
{% include "Ceres::PageDesign.Partials.Header.Breadcrumb" %}
{% endif %}