<style type="text/css">
.nav.navbar-nav.main-nav {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
.nav.navbar-nav.main-nav {
  list-style: disc outside;
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: initial;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.navbar-nav > li {
  list-style-type: none;
  float: left;
  padding: 0;
  line-height: 50px;
  height: 50px;
  margin: 0;
}
.navbar.navbar-default {
  background: rgb(255,255,255);
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  background: #f64c3b;
  color: #fff;
  text-decoration: none;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #f4e7e7;
  background: #f64c3b;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  text-align: center;
  transition: all .3s;
}
a:active {
  background: rgb(241,240,240);
}
</style>

{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}

    <nav class="navbar navbar-light bg-light" >
        <a class="navbar-brand" href="#">
            <img src="{{companyLogo}}" width="30" height="30" alt="{{companyName}}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
   <div class="container">
       <div class="row" style="margin-top: 48px;">
           <div class="col-md-3 col-lg-3 col-xl-3">
               <div class="box-home"><a href="#" style="width: 100%;height: 100%;padding: 0;"><img src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/g-shock.jpg" style="width: 100%;height: 100%;"></a>
                   <div style="border: 1px solid #000;text-align: center;"><img class="img-fluid" src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/109.png" style="vertical-align: middle;"></div>
               </div>
           </div>
           <div class="col-md-3 col-lg-3 col-xl-3">
               <div class="box-home"><a href="#" style="width: 100%;height: 100%;padding: 0;"><img src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/g-shock.jpg" style="width: 100%;height: 100%;"></a>
                   <div style="border: 1px solid #000;text-align: center;"><img class="img-fluid" src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/109.png" style="vertical-align: middle;"></div>
               </div>
           </div>
           <div class="col-md-3 col-lg-3 col-xl-3">
               <div class="box-home"><a href="#" style="width: 100%;height: 100%;padding: 0;"><img src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/g-shock.jpg" style="width: 100%;height: 100%;"></a>
                   <div style="border: 1px solid #000;text-align: center;width: 100%;"><img class="img-fluid" src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/109.png" style="vertical-align: middle;"></div>
               </div>
           </div>
           <div class="col-md-3 col-lg-3 col-xl-3">
               <div class="box-home"><a href="#" style="width: 100%;height: 100%;padding: 0;"><img src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/g-shock.jpg" style="width: 100%;height: 100%;"></a>
                   <div style="border: 1px solid #000;text-align: center;"><img class="img-fluid" src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/109.png" style="vertical-align: middle;"></div>
               </div>
           </div>
       </div>
       <div class="row" style="margin-top: 24px;">
           <div class="col-md-3 col-lg-3 col-xl-3">
               <div class="box-home"><a href="#" style="width: 100%;height: 100%;padding: 0;"><img src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/g-shock.jpg" style="width: 100%;height: 100%;"></a>
                   <div style="border: 1px solid #000;text-align: center;"><img class="img-fluid" src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/109.png" style="vertical-align: middle;"></div>
               </div>
           </div>
           <div class="col-md-3 col-lg-3 col-xl-3">
               <div class="box-home"><a href="#" style="width: 100%;height: 100%;padding: 0;"><img src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/g-shock.jpg" style="width: 100%;height: 100%;"></a>
                   <div style="border: 1px solid #000;text-align: center;"><img class="img-fluid" src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/109.png" style="vertical-align: middle;"></div>
               </div>
           </div>
           <div class="col-md-3 col-lg-3 col-xl-3">
               <div class="box-home"><a href="#" style="width: 100%;height: 100%;padding: 0;"><img src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/g-shock.jpg" style="width: 100%;height: 100%;"></a>
                   <div style="border: 1px solid #000;text-align: center;"><img class="img-fluid" src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/109.png" style="vertical-align: middle;"></div>
               </div>
           </div>
           <div class="col-md-3 col-lg-3 col-xl-3">
               <div class="box-home"><a href="#" style="width: 100%;height: 100%;padding: 0;"><img src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/g-shock.jpg" style="width: 100%;height: 100%;"></a>
                   <div style="border: 1px solid #000;text-align: center;"><img class="img-fluid" src="https://www.zeitlounge.com/zeitlounge/img/manufacturers/109.png" style="vertical-align: middle;"></div>
               </div>
           </div>
       </div>
       <div class="row" style="margin-top: 30px;">
           <div class="col">
               <h2 class="text-center" style="font-size: 34px;color: #c00;font-weight: 300;text-align: center!important;">Uhren &amp; Schmuck exklusiv im Online Shop von Zeitlounge.com<br></h2>
               <h3 class="text-center" style="font-size: 22px;color: #333;font-weight: 40;text-align: center!important;">Renommierte Marken und große Auswahl an Uhren und Schmuck<br></h3>
               <p class="text-center" style="font-size: 13px;text-align: center!important;">Unser exklusiver Uhrenshop Zeitlounge bieten Ihnen ein umfangreiches Sortiment rund um Uhren und Schmuck. Die topaktuellen Produkte reichen von modernen&nbsp;<a href="https://www.zeitlounge.com/uhren/herrenuhren/">Herren-</a>und&nbsp;
                   <a
                       href="https://www.zeitlounge.com/uhren/damenuhren/">Damenarmbanduhren</a>,&nbsp;<a href="https://www.zeitlounge.com/uhren/kinderuhren/">Kinderuhren</a>,&nbsp;<a href="https://www.zeitlounge.com/uhren/wecker/">Weckern</a>&nbsp;und&nbsp;<a href="https://www.zeitlounge.com/uhren/taschenuhr/">Taschenuhren</a>&nbsp;über
                       elegante&nbsp;<a href="https://www.zeitlounge.com/schmuck/damenohrringeen/">Ohrringe</a>,&nbsp;<a href="https://www.zeitlounge.com/schmuck/halskette/">Ketten</a>,&nbsp;<a href="https://www.zeitlounge.com/schmuck/ring/">Ringe</a>&nbsp;und&nbsp;
                       <a
                           href="https://www.zeitlounge.com/schmuck/armband/">Armbänder</a>&nbsp;bis hin zu praktischem Zubehör wie&nbsp;<a href="https://www.zeitlounge.com/aufbewahrung/uhrenbox/">Uhrenboxen</a>,&nbsp;<a href="https://www.zeitlounge.com/aufbewahrung/uhrenbeweger/">Uhrenbeweger</a>,&nbsp;
                           <a
                               href="https://www.zeitlounge.com/aufbewahrung/uhrenbeweger-safe/">Uhrsafes</a>,&nbsp;<a href="https://www.zeitlounge.com/aufbewahrung/uhrenetui/">Uhrenetuis</a>, Schmuckboxen und vielen andere tollen Accessoires.<br></p>
               <p class="text-center" style="font-size: 13px;text-align: center!important;">Stöbern Sie ganz einfach online bequem von zuhause aus in einer umfang- und facettenreichen Produktpalette und entdecken Sie unvergleichliche Highlights in den Bereichen Uhren und Schmuck. Machen Sie jetzt mit den bezaubernden Schmuckstücken
                   und edlen Armbanduhren ihren Lieben oder sich selbst eine Freude!<br><br></p>
               <h2 class="text-center" style="font-size: 34px;color: #c00;font-weight: 300;text-align: center!important;">Unser topaktuelles Sortiment in Ihrem Uhrenshop des Vertrauens<br></h2>
               <p class="text-center" style="font-size: 13px;text-align: center!important;">Wir legen größten Wert darauf, dass Sie in unserem Onlineshop für Uhren stets ein breitgefächertes Sortiment an topaktuellen Produkten renommierter Marken vorfinden. Bei der Aufnahme verschiedener Uhren in unser Portfolio prüfen unsere
                   Experten jedes Modell auf seine Qualität und eine einwandfreie Verarbeitung. Deshalb können Sie bei den Damenuhren und Herrenuhren von Zeitlounge stets auf höchste Standards vertrauen.<br><br></p>
               <p class="text-center" style="font-size: 13px;text-align: center!important;">Entdecken Sie die große Auswahl an Uhren und Schmuck exklusiver Marken wie&nbsp;<a href="https://www.zeitlounge.com/uhr/marken/casio/">Casio</a>,&nbsp;<a href="https://www.zeitlounge.com/uhr/marken/guess/">Guess</a>,&nbsp;<a href="https://www.zeitlounge.com/uhr/marken/junkers/">Junkers</a>,&nbsp;
                   <a
                       href="https://www.zeitlounge.com/uhr/marken/esprit/">Esprit</a>,&nbsp;<a href="https://www.zeitlounge.com/schmuck/marken/guess-jewelry/">Guess Jewelry</a>,&nbsp;<a href="https://www.zeitlounge.com/uhr/marken/hugo-boss/">Hugo Boss</a>,&nbsp;<a href="https://www.zeitlounge.com/uhr/marken/tommy-hilfiger/">Hilfiger</a>,&nbsp;
                       <a
                           href="https://www.zeitlounge.com/uhr/marken/seiko/">Seiko</a>,&nbsp;<a href="https://www.zeitlounge.com/uhr/marken/hamilton/">Hamilton</a>,&nbsp;<a href="https://www.zeitlounge.com/uhr/marken/bering/">Bering</a>&nbsp;und&nbsp;<a href="https://www.zeitlounge.com/uhr/marken/calvin-klein/">Calvin Klein</a>.
                           Außerdem finden Sie im Webshop von Zeitlounge verschiedenste Arten von&nbsp;<strong>Armbanduhren</strong>&nbsp;nach ihrem individuellen Bedarf: Ob&nbsp;<em>Chronographen</em>,&nbsp;<em>Fliegeruhren</em>,&nbsp;<em>Taucheruhren</em>,&nbsp;<em>Modeuhren</em>,&nbsp;<em>Automatikuhren</em>&nbsp;oder&nbsp;<em>klassische Taschenuhren</em>&nbsp;–
                           in unserem Repertoire werden Sie auf jeden Fall fündig. Insgesamt umfasst unser großes Sortiment mehr als 4500 Produkte und wird stets durch neue Modelle erweitert.<br><br></p>
           </div>
       </div>
   </div>