<script type="x/template" id="vue-item-search">
    
        <form class="form-inline pull-lg-left" style="padding: 10px;">
            <input type="search" class="form-control mr-sm-2" v-model="currentSearchString" @input="autocomplete($event.target.value)"
                @keyup.enter="prepareSearch()" @keyup.down="keydown()" @keyup.up="keyup()"
                @focus="isSearchFocused = true" @blur="setIsSearchFocused(false)"
                autofocus>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" @click="search()">
                Suchen
            </button>
           
        </form>
    
    
</script>