<ul class="mainmenu pull-lg-right">
    <li class="ddown"><a href="/themen" data-category-id="1354" data-category-type="item">Themen</a> <span data-toggle="collapse"
            href="#navDropdown0" aria-expanded="false" class="hidden-lg-up nav-direction"><i aria-hidden="true" class="fa fa-caret-down"></i></span>
        <ul data-level="1" id="navDropdown0" class="collapse">
            <li class="level1"><a href="/themen/herrenfunkuhr" data-category-id="1401" data-category-type="item">Herrenfunkuhr</a></li>
            <li class="level1"><a href="/themen/creole" data-category-id="1438" data-category-type="item">Creole</a></li>
            <li class="level1"><a href="/themen/led-uhr-fr-damen" data-category-id="1365" data-category-type="item">LED
                    Uhr für Damen</a></li>
            <li class="level1"><a href="/themen/tischuhr" data-category-id="1415" data-category-type="item">Tischuhr</a></li>
            <li class="level1"><a href="/themen/gps-solar-uhr" data-category-id="1450" data-category-type="item">GPS
                    Solar Uhr</a></li>
            <li class="level1"><a href="/themen/uhrenbeweger-fr-6-uhren" data-category-id="1388" data-category-type="item">Uhrenbeweger
                    für 6 Uhren</a></li>
            <li class="level1"><a href="/themen/activity-band" data-category-id="1427" data-category-type="item">Activity
                    Band</a></li>
            <li class="level1"><a href="/themen/kinderuhr" data-category-id="1404" data-category-type="item">Kinderuhr</a></li>
            <li class="level1"><a href="/themen/halskette-fr-sie" data-category-id="1440" data-category-type="item">Halskette
                    für Sie</a></li>
            <li class="level1"><a href="/themen/digitaluhr-fr-damen" data-category-id="1366" data-category-type="item">Digitaluhr
                    für Damen</a></li>
            <li class="level1"><a href="/themen/automatik-armbanduhr" data-category-id="1416" data-category-type="item">Automatik
                    Armbanduhr</a></li>
            <li class="level1"><a href="/themen/unisex-armband" data-category-id="1451" data-category-type="item">Unisex
                    Armband</a></li>
            <li class="level1"><a href="/themen/digitaluhr-fr-herren" data-category-id="1390" data-category-type="item">Digitaluhr
                    für Herren</a></li>
            <li class="level1"><a href="/themen/damenhalskette" data-category-id="1429" data-category-type="item">Damenhalskette</a></li>
            <li class="level1"><a href="/themen/unisexuhr" data-category-id="1355" data-category-type="item">Unisexuhr</a></li>
            <li class="level1"><a href="/themen/mdchenuhr" data-category-id="1405" data-category-type="item">Mädchenuhr</a></li>
            <li class="level1"><a href="/themen/ring-fr-sie" data-category-id="1441" data-category-type="item">Ring für
                    Sie</a></li>
            <li class="level1"><a href="/themen/damenchronograph" data-category-id="1367" data-category-type="item">Damenchronograph</a></li>
            <li class="level1"><a href="/themen/smartwatch" data-category-id="1417" data-category-type="item">Smartwatch</a></li>
            <li class="level1"><a href="/themen/ring" data-category-id="1452" data-category-type="item">Ring</a></li>
            <li class="level1"><a href="/themen/digitaluhr" data-category-id="1391" data-category-type="item">Digitaluhr</a></li>
            <li class="level1"><a href="/themen/damenring" data-category-id="1430" data-category-type="item">Damenring</a></li>
            <li class="level1"><a href="/themen/elegante-damenuhr" data-category-id="1356" data-category-type="item">Elegante
                    Damenuhr</a></li>
            <li class="level1"><a href="/themen/wecker" data-category-id="1406" data-category-type="item">Wecker</a></li>
            <li class="level1"><a href="/themen/herrenring" data-category-id="1442" data-category-type="item">Herrenring</a></li>
            <li class="level1"><a href="/themen/herrenarmbanduhr" data-category-id="1368" data-category-type="item">Herrenarmbanduhr</a></li>
            <li class="level1"><a href="/themen/armband-fr-ihn" data-category-id="1418" data-category-type="item">Armband
                    für Ihn</a></li>
            <li class="level1"><a href="/themen/legere-damenuhr" data-category-id="1392" data-category-type="item">Legere
                    Damenuhr</a></li>
            <li class="level1"><a href="/themen/ohrstecker" data-category-id="1431" data-category-type="item">Ohrstecker</a></li>
            <li class="level1"><a href="/themen/elegante-herrenuhr" data-category-id="1357" data-category-type="item">Elegante
                    Herrenuhr</a></li>
            <li class="level1 bt-more"><a href="/themen" data-category-id="1354" data-category-type="item">Mehr...</a></li>
        </ul>
    </li>
    <li class="ddown"><a href="/uhr" data-category-id="603" data-category-type="item">Uhren</a> <span data-toggle="collapse"
            href="#navDropdown1" aria-expanded="false" class="hidden-lg-up nav-direction"><i aria-hidden="true" class="fa fa-caret-down"></i></span>
        <ul data-level="1" id="navDropdown1" class="collapse">
            <li class="level1"><a href="/uhr/stoppuhr" data-category-id="1487" data-category-type="item">Stoppuhr</a>
                <ul>
                    <li class="level2"><a href="/uhr/stoppuhr/casio" data-category-id="1488" data-category-type="item">Casio</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/marken" data-category-id="604" data-category-type="item">Marken</a>
                <ul>
                    <li class="level2"><a href="/uhr/marken/fossil" data-category-id="1251" data-category-type="item">Fossil</a></li>
                    <li class="level2"><a href="/uhr/marken/skagen" data-category-id="1263" data-category-type="item">Skagen</a></li>
                    <li class="level2"><a href="/uhr/marken/cluse" data-category-id="1289" data-category-type="item">Cluse</a></li>
                    <li class="level2"><a href="/uhr/marken/casio-g-shock-exclusive" data-category-id="1241"
                            data-category-type="item">Casio G-Shock Exclusive</a></li>
                    <li class="level2"><a href="/uhr/marken/skagen-connected" data-category-id="1341"
                            data-category-type="item">Skagen Connected</a></li>
                    <li class="level2"><a href="/uhr/marken/casio-sheen" data-category-id="1243" data-category-type="item">Casio
                            Sheen</a></li>
                    <li class="level2"><a href="/uhr/marken/diesel" data-category-id="1255" data-category-type="item">DIESEL</a></li>
                    <li class="level2"><a href="/uhr/marken/emporio-armani" data-category-id="1267" data-category-type="item">Emporio
                            Armani</a></li>
                    <li class="level2"><a href="/uhr/marken/armani-connected" data-category-id="1343"
                            data-category-type="item">Armani Connected</a></li>
                    <li class="level2"><a href="/uhr/marken/armani-exchange" data-category-id="1280" data-category-type="item">Armani
                            Exchange</a></li>
                    <li class="level2 bt-more"><a href="/uhr/marken" data-category-id="604" data-category-type="item">Mehr...</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/herrenuhren" data-category-id="712" data-category-type="item">Herrenuhren</a>
                <ul>
                    <li class="level2"><a href="/uhr/herrenuhren/boss-orange" data-category-id="1464"
                            data-category-type="item">Boss Orange</a></li>
                    <li class="level2"><a href="/uhr/herrenuhren/skagen-connected" data-category-id="1340"
                            data-category-type="item">Skagen Connected</a></li>
                    <li class="level2"><a href="/uhr/herrenuhren/ax-connected" data-category-id="1471"
                            data-category-type="item">AX Connected</a></li>
                    <li class="level2"><a href="/uhr/herrenuhren/fossil" data-category-id="1253" data-category-type="item">Fossil</a></li>
                    <li class="level2"><a href="/uhr/herrenuhren/skagen" data-category-id="1265" data-category-type="item">Skagen</a></li>
                    <li class="level2"><a href="/uhr/herrenuhren/casio-g-shock-exclusive" data-category-id="1242"
                            data-category-type="item">Casio G-Shock Exclusive</a></li>
                    <li class="level2"><a href="/uhr/herrenuhren/diesel-connected" data-category-id="1473"
                            data-category-type="item">Diesel Connected</a></li>
                    <li class="level2"><a href="/uhr/herrenuhren/diesel" data-category-id="1254" data-category-type="item">DIESEL</a></li>
                    <li class="level2"><a href="/uhr/herrenuhren/emporio-armani" data-category-id="1266"
                            data-category-type="item">Emporio Armani</a></li>
                    <li class="level2"><a href="/uhr/herrenuhren/armani-connected" data-category-id="1342"
                            data-category-type="item">Armani Connected</a></li>
                    <li class="level2 bt-more"><a href="/uhr/herrenuhren" data-category-id="712" data-category-type="item">Mehr...</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/damenuhren" data-category-id="710" data-category-type="item">Damenuhren</a>
                <ul>
                    <li class="level2"><a href="/uhr/damenuhren/cluse" data-category-id="1288" data-category-type="item">Cluse</a></li>
                    <li class="level2"><a href="/uhr/damenuhren/swatch" data-category-id="1274" data-category-type="item">Swatch</a></li>
                    <li class="level2"><a href="/uhr/damenuhren/skagen-connected" data-category-id="1339"
                            data-category-type="item">Skagen Connected</a></li>
                    <li class="level2"><a href="/uhr/damenuhren/fossil" data-category-id="1252" data-category-type="item">Fossil</a></li>
                    <li class="level2"><a href="/uhr/damenuhren/skagen" data-category-id="1264" data-category-type="item">Skagen</a></li>
                    <li class="level2"><a href="/uhr/damenuhren/armani-connected" data-category-id="1475"
                            data-category-type="item">Armani Connected</a></li>
                    <li class="level2"><a href="/uhr/damenuhren/casio-sheen" data-category-id="1244" data-category-type="item">Casio
                            Sheen</a></li>
                    <li class="level2"><a href="/uhr/damenuhren/armani-exchange" data-category-id="1278"
                            data-category-type="item">Armani Exchange</a></li>
                    <li class="level2"><a href="/uhr/damenuhren/diesel" data-category-id="1256" data-category-type="item">DIESEL</a></li>
                    <li class="level2"><a href="/uhr/damenuhren/emporio-armani" data-category-id="1268"
                            data-category-type="item">Emporio Armani</a></li>
                    <li class="level2 bt-more"><a href="/uhr/damenuhren" data-category-id="710" data-category-type="item">Mehr...</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/uhr" data-category-id="708" data-category-type="item">Uhren</a>
                <ul>
                    <li class="level2"><a href="/uhr/uhr/lorus" data-category-id="1315" data-category-type="item">Lorus</a></li>
                    <li class="level2"><a href="/uhr/uhr/tissot" data-category-id="1569" data-category-type="item">Tissot</a></li>
                    <li class="level2"><a href="/uhr/uhr/storm-london" data-category-id="1574" data-category-type="item">Storm
                            London</a></li>
                    <li class="level2"><a href="/uhr/uhr/hanowa" data-category-id="1480" data-category-type="item">Hanowa</a></li>
                    <li class="level2"><a href="/uhr/uhr/michael-kors" data-category-id="1270" data-category-type="item">Michael
                            Kors</a></li>
                    <li class="level2"><a href="/uhr/uhr/ingersoll" data-category-id="1481" data-category-type="item">Ingersoll</a></li>
                    <li class="level2"><a href="/uhr/uhr/swatch" data-category-id="1271" data-category-type="item">Swatch</a></li>
                    <li class="level2"><a href="/uhr/uhr/fossil-q" data-category-id="1545" data-category-type="item">Fossil
                            Q</a></li>
                    <li class="level2"><a href="/uhr/uhr/apus" data-category-id="720" data-category-type="item">APUS</a></li>
                    <li class="level2"><a href="/uhr/uhr/bering" data-category-id="900" data-category-type="item">Bering</a></li>
                    <li class="level2 bt-more"><a href="/uhr/uhr" data-category-id="708" data-category-type="item">Mehr...</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/kinderuhren" data-category-id="780" data-category-type="item">Kinderuhren</a>
                <ul>
                    <li class="level2"><a href="/uhr/kinderuhren/flik-flak-de" data-category-id="1350"
                            data-category-type="item">Flik Flak</a></li>
                    <li class="level2"><a href="/uhr/kinderuhren/lorus" data-category-id="1240" data-category-type="item">Lorus</a></li>
                    <li class="level2"><a href="/uhr/kinderuhren/casio" data-category-id="836" data-category-type="item">Casio</a></li>
                    <li class="level2"><a href="/uhr/kinderuhren/esprit" data-category-id="807" data-category-type="item">Esprit</a></li>
                    <li class="level2"><a href="/uhr/kinderuhren/gard" data-category-id="781" data-category-type="item">Gardé</a></li>
                    <li class="level2"><a href="/uhr/kinderuhren/ice-watch" data-category-id="1001" data-category-type="item">Ice
                            Watch</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/jungenuhren" data-category-id="829" data-category-type="item">Jungenuhren</a>
                <ul>
                    <li class="level2"><a href="/uhr/jungenuhren/hamilton" data-category-id="1247" data-category-type="item">Hamilton</a></li>
                    <li class="level2"><a href="/uhr/jungenuhren/festina" data-category-id="1171" data-category-type="item">Festina</a></li>
                    <li class="level2"><a href="/uhr/jungenuhren/lotus" data-category-id="1173" data-category-type="item">Lotus</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/mdchenuhren" data-category-id="844" data-category-type="item">Mädchenuhren</a>
                <ul>
                    <li class="level2"><a href="/uhr/mdchenuhren/esprit" data-category-id="974" data-category-type="item">Esprit</a></li>
                    <li class="level2"><a href="/uhr/mdchenuhren/lotus" data-category-id="1174" data-category-type="item">Lotus</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/wecker" data-category-id="782" data-category-type="item">Wecker</a>
                <ul>
                    <li class="level2"><a href="/uhr/wecker/casio" data-category-id="1053" data-category-type="item">Casio</a></li>
                    <li class="level2"><a href="/uhr/wecker/gard" data-category-id="783" data-category-type="item">Gardé</a></li>
                    <li class="level2"><a href="/uhr/wecker/seiko" data-category-id="992" data-category-type="item">Seiko</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/wanduhr" data-category-id="874" data-category-type="item">Wanduhr</a>
                <ul>
                    <li class="level2"><a href="/uhr/wanduhr/meistersinger" data-category-id="875" data-category-type="item">MeisterSinger</a></li>
                    <li class="level2"><a href="/uhr/wanduhr/seiko" data-category-id="991" data-category-type="item">Seiko</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/standuhr" data-category-id="784" data-category-type="item">Standuhr</a>
                <ul>
                    <li class="level2"><a href="/uhr/standuhr/meistersinger" data-category-id="1535" data-category-type="item">MeisterSinger</a></li>
                    <li class="level2"><a href="/uhr/standuhr/seiko" data-category-id="993" data-category-type="item">Seiko</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/taschenuhr" data-category-id="787" data-category-type="item">Taschenuhren</a>
                <ul>
                    <li class="level2"><a href="/uhr/taschenuhr/swatch" data-category-id="1489" data-category-type="item">Swatch</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/uhr/herrentaschenuhren" data-category-id="758" data-category-type="item">Herrentaschenuhren</a>
                <ul>
                    <li class="level2"><a href="/uhr/herrentaschenuhren/ingersoll" data-category-id="1482"
                            data-category-type="item">Ingersoll</a></li>
                    <li class="level2"><a href="/uhr/herrentaschenuhren/festina" data-category-id="759"
                            data-category-type="item">Festina</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="ddown"><a href="/schmuck" data-category-id="615" data-category-type="item">Schmuck</a> <span data-toggle="collapse"
            href="#navDropdown2" aria-expanded="false" class="hidden-lg-up nav-direction"><i aria-hidden="true" class="fa fa-caret-down"></i></span>
        <ul data-level="1" id="navDropdown2" class="collapse">
            <li class="level1"><a href="/schmuck/armreif" data-category-id="1554" data-category-type="item">Armreif</a>
                <ul>
                    <li class="level2"><a href="/schmuck/armreif/calvin-klein-jewelry" data-category-id="1555"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/marken" data-category-id="616" data-category-type="item">Marken</a>
                <ul>
                    <li class="level2"><a href="/schmuck/marken/esprit-jewel" data-category-id="1484"
                            data-category-type="item">Esprit Jewel</a></li>
                    <li class="level2"><a href="/schmuck/marken/calvin-klein-jewelry" data-category-id="1485"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/marken/emporio-armani-jewelry" data-category-id="1327"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/marken/diesel-jewellry" data-category-id="1329"
                            data-category-type="item">DIESEL Jewellry</a></li>
                    <li class="level2"><a href="/schmuck/marken/fossil-jewelry" data-category-id="1277"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/marken/michael-kors-access" data-category-id="1478"
                            data-category-type="item">Michael Kors Access</a></li>
                    <li class="level2"><a href="/schmuck/marken/skagen-jewelry" data-category-id="1335"
                            data-category-type="item">Skagen Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/marken/tommy-hilfiger" data-category-id="1459"
                            data-category-type="item">Tommy Hilfiger</a></li>
                    <li class="level2"><a href="/schmuck/marken/michael-kors-jewellery" data-category-id="1349"
                            data-category-type="item">Michael Kors Jewellery</a></li>
                    <li class="level2"><a href="/schmuck/marken/esprit-collection" data-category-id="1483"
                            data-category-type="item">Esprit Collection</a></li>
                    <li class="level2 bt-more"><a href="/schmuck/marken" data-category-id="616" data-category-type="item">Mehr...</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/damenohrringeen" data-category-id="914" data-category-type="item">Damenohrringe</a>
                <ul>
                    <li class="level2"><a href="/schmuck/damenohrringeen/fossil-jewelry" data-category-id="1275"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrringeen/skagen-jewelry" data-category-id="1331"
                            data-category-type="item">Skagen Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrringeen/emporio-armani-jewelry" data-category-id="1457"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrringeen/michael-kors-jewellery" data-category-id="1345"
                            data-category-type="item">Michael Kors Jewellery</a></li>
                    <li class="level2"><a href="/schmuck/damenohrringeen/michael-kors-fine-jewelry" data-category-id="1562"
                            data-category-type="item">Michael Kors Fine Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrringeen/bering-jewelry" data-category-id="1032"
                            data-category-type="item">Bering Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrringeen/calvin-klein-jewelry" data-category-id="950"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrringeen/esprit-jewel" data-category-id="967"
                            data-category-type="item">Esprit Jewel</a></li>
                    <li class="level2"><a href="/schmuck/damenohrringeen/guess-jewelry" data-category-id="961"
                            data-category-type="item">Guess Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrringeen/joop-jewelry" data-category-id="915"
                            data-category-type="item">Joop! Jewelry</a></li>
                    <li class="level2 bt-more"><a href="/schmuck/damenohrringeen" data-category-id="914"
                            data-category-type="item">Mehr...</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/damenhalsketteen" data-category-id="918" data-category-type="item">Damenhalsketten</a>
                <ul>
                    <li class="level2"><a href="/schmuck/damenhalsketteen/fossil-jewelry" data-category-id="1316"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenhalsketteen/skagen-jewelry" data-category-id="1330"
                            data-category-type="item">Skagen Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenhalsketteen/emporio-armani-jewelry" data-category-id="1455"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenhalsketteen/calvin-klein-jewelry" data-category-id="951"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenhalsketteen/esprit-collection-jewelry" data-category-id="1009"
                            data-category-type="item">Esprit Collection Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenhalsketteen/esprit-jewel" data-category-id="978"
                            data-category-type="item">Esprit Jewel</a></li>
                    <li class="level2"><a href="/schmuck/damenhalsketteen/guess-jewelry" data-category-id="957"
                            data-category-type="item">Guess Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenhalsketteen/joop-jewelry" data-category-id="919"
                            data-category-type="item">Joop! Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenhalsketteen/tommy-hilfiger-jewelry" data-category-id="1134"
                            data-category-type="item">Tommy Hilfiger Jewelry</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/damencreoleen" data-category-id="912" data-category-type="item">Damencreolen</a>
                <ul>
                    <li class="level2"><a href="/schmuck/damencreoleen/calvin-klein-jewelry" data-category-id="945"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damencreoleen/esprit-collection-jewelry" data-category-id="1012"
                            data-category-type="item">Esprit Collection Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damencreoleen/esprit-jewel" data-category-id="977"
                            data-category-type="item">Esprit Jewel</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/damenarmbanden" data-category-id="929" data-category-type="item">Damenarmbänder</a>
                <ul>
                    <li class="level2"><a href="/schmuck/damenarmbanden/michael-kors-access" data-category-id="1477"
                            data-category-type="item">Michael Kors Access</a></li>
                    <li class="level2"><a href="/schmuck/damenarmbanden/fossil-jewelry" data-category-id="1319"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmbanden/skagen-jewelry" data-category-id="1334"
                            data-category-type="item">Skagen Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmbanden/michael-kors-jewellery" data-category-id="1348"
                            data-category-type="item">Michael Kors Jewellery</a></li>
                    <li class="level2"><a href="/schmuck/damenarmbanden/emporio-armani-jewelry" data-category-id="1325"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmbanden/bering-jewelry" data-category-id="1034"
                            data-category-type="item">Bering Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmbanden/calvin-klein-jewelry" data-category-id="948"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmbanden/esprit-collection-jewelry" data-category-id="1010"
                            data-category-type="item">Esprit Collection Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmbanden/esprit-jewel" data-category-id="968"
                            data-category-type="item">Esprit Jewel</a></li>
                    <li class="level2"><a href="/schmuck/damenarmbanden/guess-jewelry" data-category-id="958"
                            data-category-type="item">Guess Jewelry</a></li>
                    <li class="level2 bt-more"><a href="/schmuck/damenarmbanden" data-category-id="929"
                            data-category-type="item">Mehr...</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/damenarmreifen" data-category-id="946" data-category-type="item">Damenarmreifen</a>
                <ul>
                    <li class="level2"><a href="/schmuck/damenarmreifen/fossil-jewelry" data-category-id="1318"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmreifen/skagen-jewelry" data-category-id="1333"
                            data-category-type="item">Skagen Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmreifen/michael-kors-jewellery" data-category-id="1347"
                            data-category-type="item">Michael Kors Jewellery</a></li>
                    <li class="level2"><a href="/schmuck/damenarmreifen/emporio-armani-jewelry" data-category-id="1324"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmreifen/calvin-klein-jewelry" data-category-id="947"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmreifen/esprit-jewel" data-category-id="979"
                            data-category-type="item">Esprit Jewel</a></li>
                    <li class="level2"><a href="/schmuck/damenarmreifen/guess-jewelry" data-category-id="960"
                            data-category-type="item">Guess Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmreifen/joop-jewelry" data-category-id="1038"
                            data-category-type="item">Joop! Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenarmreifen/tommy-hilfiger-jewelry" data-category-id="1217"
                            data-category-type="item">Tommy Hilfiger Jewelry</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/damenringen" data-category-id="925" data-category-type="item">Damenringe</a>
                <ul>
                    <li class="level2"><a href="/schmuck/damenringen/skagen-jewelry" data-category-id="1567"
                            data-category-type="item">Skagen Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenringen/emporio-armani-jewelry" data-category-id="1552"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenringen/michael-kors-fine-jewelry" data-category-id="1560"
                            data-category-type="item">Michael Kors Fine Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenringen/fossil-jewelry" data-category-id="1549"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenringen/bering-jewelry" data-category-id="1031"
                            data-category-type="item">Bering Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenringen/calvin-klein-jewelry" data-category-id="943"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenringen/esprit-collection-jewelry" data-category-id="1013"
                            data-category-type="item">Esprit Collection Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenringen/esprit-jewel" data-category-id="980"
                            data-category-type="item">Esprit Jewel</a></li>
                    <li class="level2"><a href="/schmuck/damenringen/guess-jewelry" data-category-id="959"
                            data-category-type="item">Guess Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenringen/joop-jewelry" data-category-id="926"
                            data-category-type="item">Joop! Jewelry</a></li>
                    <li class="level2 bt-more"><a href="/schmuck/damenringen" data-category-id="925" data-category-type="item">Mehr...</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/damenohrsteckeren" data-category-id="923" data-category-type="item">Damenohrstecker</a>
                <ul>
                    <li class="level2"><a href="/schmuck/damenohrsteckeren/skagen-jewelry" data-category-id="1566"
                            data-category-type="item">Skagen Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrsteckeren/fossil-jewelry" data-category-id="1276"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrsteckeren/emporio-armani-jewelry" data-category-id="1454"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrsteckeren/bering-jewelry" data-category-id="1033"
                            data-category-type="item">Bering Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrsteckeren/calvin-klein-jewelry" data-category-id="953"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrsteckeren/esprit-collection-jewelry" data-category-id="1011"
                            data-category-type="item">Esprit Collection Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrsteckeren/esprit-jewel" data-category-id="976"
                            data-category-type="item">Esprit Jewel</a></li>
                    <li class="level2"><a href="/schmuck/damenohrsteckeren/joop-jewelry" data-category-id="924"
                            data-category-type="item">Joop! Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/damenohrsteckeren/tommy-hilfiger-jewelry" data-category-id="1135"
                            data-category-type="item">Tommy Hilfiger Jewelry</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/herrenarmbanden" data-category-id="933" data-category-type="item">Herrenarmbänder</a>
                <ul>
                    <li class="level2"><a href="/schmuck/herrenarmbanden/emporio-armani-jewelry" data-category-id="1326"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenarmbanden/diesel-jewellry" data-category-id="1328"
                            data-category-type="item">DIESEL Jewellry</a></li>
                    <li class="level2"><a href="/schmuck/herrenarmbanden/fossil-jewelry" data-category-id="1320"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenarmbanden/calvin-klein-jewelry" data-category-id="949"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenarmbanden/joop-jewelry" data-category-id="934"
                            data-category-type="item">Joop! Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenarmbanden/police-jewelry" data-category-id="1199"
                            data-category-type="item">Police Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenarmbanden/tommy-hilfiger" data-category-id="1221"
                            data-category-type="item">Tommy Hilfiger</a></li>
                    <li class="level2"><a href="/schmuck/herrenarmbanden/tommy-hilfiger-jewelry" data-category-id="1180"
                            data-category-type="item">Tommy Hilfiger Jewelry</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/herrenarmreifen" data-category-id="931" data-category-type="item">Herrenarmreifen</a>
                <ul>
                    <li class="level2"><a href="/schmuck/herrenarmreifen/calvin-klein-jewelry" data-category-id="942"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/herrenringen" data-category-id="927" data-category-type="item">Herrenringe</a>
                <ul>
                    <li class="level2"><a href="/schmuck/herrenringen/fossil-jewelry" data-category-id="1550"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenringen/emporio-armani-jewelry" data-category-id="1551"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenringen/diesel-jewellry" data-category-id="1568"
                            data-category-type="item">DIESEL Jewellry</a></li>
                    <li class="level2"><a href="/schmuck/herrenringen/tommy-hilfiger-jewelry" data-category-id="1553"
                            data-category-type="item">Tommy Hilfiger Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenringen/calvin-klein-jewelry" data-category-id="944"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenringen/joop-jewelry" data-category-id="928"
                            data-category-type="item">Joop! Jewelry</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/herrenmanschettenknpfeen" data-category-id="954" data-category-type="item">Herrenmanschettenknöpfe</a>
                <ul>
                    <li class="level2"><a href="/schmuck/herrenmanschettenknpfeen/tommy-hilfiger-jewelry"
                            data-category-id="1344" data-category-type="item">Tommy Hilfiger Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenmanschettenknpfeen/emporio-armani-jewelry"
                            data-category-id="1323" data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenmanschettenknpfeen/calvin-klein-jewelry"
                            data-category-id="955" data-category-type="item">Calvin Klein Jewelry</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/schmuck/herrenhalsketteen" data-category-id="894" data-category-type="item">Herrenhalsketten</a>
                <ul>
                    <li class="level2"><a href="/schmuck/herrenhalsketteen/emporio-armani-jewelry" data-category-id="1453"
                            data-category-type="item">Emporio Armani Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenhalsketteen/fossil-jewelry" data-category-id="1317"
                            data-category-type="item">Fossil Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenhalsketteen/police-jewelry" data-category-id="1557"
                            data-category-type="item">Police Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenhalsketteen/diesel-jewellry" data-category-id="1458"
                            data-category-type="item">DIESEL Jewellry</a></li>
                    <li class="level2"><a href="/schmuck/herrenhalsketteen/calvin-klein-jewelry" data-category-id="952"
                            data-category-type="item">Calvin Klein Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenhalsketteen/joop-jewelry" data-category-id="920"
                            data-category-type="item">Joop! Jewelry</a></li>
                    <li class="level2"><a href="/schmuck/herrenhalsketteen/tommy-hilfiger-jewelry" data-category-id="1219"
                            data-category-type="item">Tommy Hilfiger Jewelry</a></li>
                </ul>
            </li>
           
        </ul>
    </li>
    <li class="ddown"><a href="/aufbewahrung" data-category-id="703" data-category-type="item">Aufbewahrung</a> <span
            data-toggle="collapse" href="#navDropdown3" aria-expanded="false" class="hidden-lg-up nav-direction"><i
                aria-hidden="true" class="fa fa-caret-down"></i></span>
        <ul data-level="1" id="navDropdown3" class="collapse">
            <li class="level1"><a href="/aufbewahrung/uhrenbeweger" data-category-id="723" data-category-type="item">Uhrenbeweger</a>
                <ul>
                    <li class="level2"><a href="/aufbewahrung/uhrenbeweger/auer-accessories" data-category-id="724"
                            data-category-type="item">Auer Accessories</a></li>
                    <li class="level2"><a href="/aufbewahrung/uhrenbeweger/rothenschild-accessories" data-category-id="745"
                            data-category-type="item">Rothenschild Accessories</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/aufbewahrung/uhrenbox" data-category-id="725" data-category-type="item">Uhrenbox</a>
                <ul>
                    <li class="level2"><a href="/aufbewahrung/uhrenbox/auer-accessories" data-category-id="726"
                            data-category-type="item">Auer Accessories</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/aufbewahrung/schmuckbox" data-category-id="729" data-category-type="item">Schmuckbox</a>
                <ul>
                    <li class="level2"><a href="/aufbewahrung/schmuckbox/auer-accessories" data-category-id="730"
                            data-category-type="item">Auer Accessories</a></li>
                    <li class="level2"><a href="/aufbewahrung/schmuckbox/rothenschild-accessories" data-category-id="749"
                            data-category-type="item">Rothenschild Accessories</a></li>
                </ul>
            </li>
            <li class="level1"><a href="/aufbewahrung/batterie" data-category-id="704" data-category-type="item">Batterie</a>
                <ul>
                    <li class="level2"><a href="/aufbewahrung/batterie/auer-accessories" data-category-id="733"
                            data-category-type="item">Auer Accessories</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="/category-sales" data-category-id="1237" data-category-type="item">Sales</a></li>
</ul>