<div class="footer">
    <div class="row">
        <div class="container-max">
            <div id="footer-benefits" class="std-width">

                <ul id="footer-main-benefits" class="AC">
                    <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">Kompetente Beratung</a></li>
                    <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">30 Tage Best Price Garantie</a></li>
                    <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">Express Lieferung möglich</a></li>
                </ul>

                <div id="footer-other-benefits" class="has-float">

                    <ul id="footer-other-benefits-long">
                        <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">100 Tage Umtauschrecht, 30 Tage
                                Widerrufsrecht und kostenlose Rücksendung!</a></li>
                        <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">ab 50 € Versand kostenlos (bis 50
                                € innerhalb Deutschlands: 2,95 €, sonst: 6,95 €)</a></li>
                    </ul>

                    <ul id="footer-other-benefits-short">
                        <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">Zahlung auf Rechnung oder
                                Lastschrift</a></li>
                        <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">Über 4.500 Artikel ab Lager
                                verfügbar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-max footer-content">
        <div class="row">
            <div class="col-md-3">
                <h1>Test1</h1>
            </div>
            <div class="col-md-3">
                <h1>Test1</h1>
            </div>
            <div class="col-md-3">
                <h1>Test1</h1>
            </div>
            <div class="col-md-3">
                <h1>Test1</h1>
            </div>


        </div>
    </div>
</div>