  <div class="footer">
        <div class="row">
            <div class="container-max container">
                <div id="footer-benefits" class="std-width">
    
                    <ul id="footer-main-benefits" class="AC">
                        <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">Kompetente Beratung</a></li>
                        <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">30 Tage Best Price Garantie</a></li>
                        <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">Express Lieferung möglich</a></li>
                    </ul>
    
                    <div id="footer-other-benefits" class="has-float">
    
                        <ul id="footer-other-benefits-long">
                            <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">100 Tage Umtauschrecht, 30 Tage
                                    Widerrufsrecht und kostenlose Rücksendung!</a></li>
                            <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">ab 50 € Versand kostenlos (bis 50
                                    € innerhalb Deutschlands: 2,95 €, sonst: 6,95 €)</a></li>
                        </ul>
    
                        <ul id="footer-other-benefits-short">
                            <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">Zahlung auf Rechnung oder
                                    Lastschrift</a></li>
                            <li><a href="https://www.zeitlounge.com/zeitlounge/vorteile/">Über 4.500 Artikel ab Lager
                                    verfügbar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container-max container footer-content">
            <div class="row">
                <div class="col-md-3 footer-contact-container">
                    <h3>Kontakt</h3>
                    <p>BeLa &amp; Co GmbH<br>-Zeitlounge-<br>Futterstraße 7<br>99084 Erfurt</p>
                    <b>Hotline: 0361 34949980</b>
                    <p>Mo-Fr: 10:30 - 18:00 Uhr<br></p>
                </div>
                <div class="col-md-3 footer-info-container">
                    <h3>Links</h3>
                    <div class="">
                        <ul>
                            <li>
                                <a href="https://www.zeitlounge.com/zeitlounge/kontakt/">Kontakt</a>
                            </li>
                            <li>
                                <a href="https://www.zeitlounge.com/zeitlounge/impressum/">Impressum</a>
                            </li>
                            <li>
                                <a href="https://www.zeitlounge.com/zeitlounge/agb/">AGB</a>
                            </li>
                            <li>
                                <a href="https://www.zeitlounge.com/zeitlounge/widerrufsbelehrung/">Widerrufsbelehrung</a>
                            </li>
                            <li>
                                <a href="https://www.zeitlounge.com/zeitlounge/service/">Service &amp; Sicherheit</a>
                            </li>
                            <li>
                                <a href="https://www.zeitlounge.com/zeitlounge/datenschutz/">Datenschutz</a>
                            </li>
                            <li>
                                <a href="https://www.zeitlounge.com/zeitlounge/ladengeschaeft-in-erfurt/">Über uns</a>
                            </li>
                            <li>
                                <a href="https://www.zeitlounge.com/zeitlounge/affiliate/">Affiliate</a>
                            </li>
                            <li>
                                <a href="/blog/">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 payment-info-container">
                    <h3>Zahlung</h3>
                    <div class="payment-text">
                        <ul>
                            <li>
                                auf Rechnung
                            </li>
                            <li>
                                Überweisung (3% Skonto)
                            </li>
                                
                            <li>
                                Nachname
                            </li>
                            <li>
                                PayPal
                            </li>
                            <li>
                                Amazon Payments
                            </li>
    
                        </ul>
                    </div>
    
                    <p>
                        <a href="https://www.zeitlounge.com/zeitlounge/zahlungsarten/">Zahlungsarten im Überblick</a>
                    </p>
    
    
                </div>
                <div class="col-md-3">
                    <h3>Versand</h3>
                    <p>Wir versenden mit UPS und liefern an DHL-Packstationen.</p>
                    <p><a href="https://www.zeitlounge.com/zeitlounge/versand/">Lieferzeiten &amp; Kosten</a></p>
                </div>
    
    
            </div>
            <div class="row">
                <ul id="footer-payment-logos" class="AC">
                    <li><img src="/layout/zeitlounge2016/amazon-payments.png" alt=""></li>
                    <li><img src="/layout/zeitlounge2016/visa.png" alt=""></li>
                    <li><img src="/layout/zeitlounge2016/mastercard.png" alt=""></li>
                    <li><img src="/layout/zeitlounge2016/paypal.png" alt=""></li>
                    <li><img src="/layout/zeitlounge2016/billsafe.png" alt=""></li>
                    <li><img src="/layout/zeitlounge2016/sofort-ueberweisung.png" alt=""></li>
                    <li><img src="/layout/zeitlounge2016/ueberweisung-3prozent.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>