<div class="footer">


    <div class="container-max footer-content">
        <div class="row">
            <div class="col-md-4">
                <h1>Test1</h1>
            </div>
            <div class="col-md-4">
                <h1>Test1</h1>
            </div>
            <div class="col-md-4">
                <h1>Test1</h1>
            </div>
            <div class="col-md-4">
                <h1>Test1</h1>
            </div>
            
        
        </div>
    </div>
</div>