/* Change background colour */
body {
    
}

nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li {
    color: #fff;
}

#articleDesc strong {
    color: #666;
    display: block;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 16px;
    text-transform: uppercase;
}