@charset "UTF-8";
.top-bar {
  background-color: #fff;
}

#top-bar #right-bar ul li {
  list-style-type: none;
}

#top-bar #right-bar ul li a i {
  color: #000;
}

#top-bar #right-bar ul li a span {
  color: #000;
}

.navbar {
  background: url(https://www.zeitlounge.com/layout/zeitlounge2016/body-bgd.jpg);
  height: 93px;
}

.navbar .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000000b5;
}

.navbar #mainNavbarCollapsable .mainmenu {
  margin-top: 14px;
}

.navbar #mainNavbarCollapsable .mainmenu li a {
  color: #fff;
}

.navbar #mainNavbarCollapsable .mainmenu li span {
  color: #fff;
}

.navbar #mainNavbarCollapsable .mainmenu li ul li {
  padding: 0px 10px;
}

body #page-body {
  background-color: #fff;
}

body p {
  color: #000;
  line-height: 1.8;
}

body p a {
  color: #000;
  border-bottom: 1px dotted #808080;
  text-decoration: none;
}

body .box-row {
  margin-top: 24px;
}

body .box-row:first {
  margin-top: 48px;
}

body .box-row:last {
  margin-bottom: 50px;
}

body .box-row .box .box-home {
  background-color: #fff;
}

body .box-row .box .box-home a {
  width: 100%;
  height: 100%;
  padding: 0;
}

body .box-row .box .box-home a img {
  width: 100%;
  height: 100%;
}

body .box-row .box .box-home .box-footer {
  border: 1px solid #000;
  text-align: center;
  background-color: #fff;
}

body .box-row .box .box-home .box-footer img {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

body .single {
  background-color: #fff;
}

body .single hr {
  border-top: 3px double #999;
}

body .single .single-description {
  line-height: 1;
}

body .single .single-description #articleDesc {
  color: #000;
  font-size: 13px;
}

body .single .single-description #articleDesc p {
  line-height: 1;
}

body .single .single-description #articleDesc p strong {
  color: #666;
  display: block;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 16px;
  text-transform: uppercase;
  display: block;
}

body .single .technical-details h2 {
  color: #c00;
  font-weight: 300;
  text-align: center;
}

body .single .technical-details #item_description {
  text-align: center;
}

body .single .technical-details #item_description .features {
  list-style-type: none;
  max-width: none;
  display: inline-block;
  margin: 0 30px;
  text-align: left;
  vertical-align: top;
  -webkit-columns: 2;
          columns: 2;
}

body .single .technical-details #item_description .features li {
  color: #c00;
  font-weight: 600;
  margin-bottom: 40px;
}

body .single .technical-details #item_description .features li::before {
  content: "\f013";
  font-family: FontAwesome;
  margin-right: 1ex;
}

body .single .technical-details #item_description .features li dl {
  margin-top: 1em;
}

body .single .technical-details #item_description .features li dl dt {
  color: #666;
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

body .single .technical-details #item_description .features li dl dd {
  border-bottom: 1px solid #e6e6e6;
  color: #000;
  font-size: 13px;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

body .single .availability::before {
  content: "\f0d1";
  color: #fff;
}

.footer {
  background-color: #282828;
}

.footer .row {
  background-color: #282828;
  color: fff;
}

.footer .row .container-max #footer-benefits {
  padding-bottom: 50px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer .row .container-max #footer-benefits #footer-main-benefits {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer .row .container-max #footer-benefits #footer-main-benefits li {
  display: block;
  float: left;
  margin-left: 39px;
}

.footer .row .container-max #footer-benefits #footer-main-benefits li::before {
  background: url(https://www.zeitlounge.com/layout/zeitlounge2016/tick-large.png);
  content: '';
  display: inline-block;
  height: 27px;
  position: relative;
  top: 2px;
  width: 24px;
}

.footer .row .container-max #footer-benefits #footer-main-benefits li a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.footer .row .container-max #footer-benefits #footer-other-benefits {
  background-color: #3a3a3a;
  margin-top: 60px;
  padding: 35px 50px;
}

.footer .row .container-max #footer-benefits #footer-other-benefits #footer-other-benefits-long {
  list-style-type: none;
  float: right;
}

.footer .row .container-max #footer-benefits #footer-other-benefits #footer-other-benefits-long li {
  margin: 20px 0;
}

.footer .row .container-max #footer-benefits #footer-other-benefits #footer-other-benefits-long li:before {
  color: #cc0000;
  content: "•";
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.footer .row .container-max #footer-benefits #footer-other-benefits #footer-other-benefits-long li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.footer .row .container-max #footer-benefits #footer-other-benefits #footer-other-benefits-short {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .row .container-max #footer-benefits #footer-other-benefits #footer-other-benefits-short li {
  margin: 20px 0;
}

.footer .row .container-max #footer-benefits #footer-other-benefits #footer-other-benefits-short li:before {
  color: #cc0000;
  content: "•";
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.footer .row .container-max #footer-benefits #footer-other-benefits #footer-other-benefits-short li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.footer .footer-content {
  margin-top: 50px;
}

.footer .footer-content h3 {
  color: #fff;
  margin-bottom: 35px;
}

.footer .footer-content a {
  color: #fff;
}

.footer .footer-content p {
  color: #fff;
}

.footer .footer-content .row .footer-contact-container b {
  color: #fff;
}

.footer .footer-content .row .footer-info-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .footer-content .row .footer-info-container ul li a {
  border-bottom: 1px dotted #808080;
  text-decoration: none;
}

.footer .footer-content .row .footer-info-container a {
  color: #fff;
}

.footer .footer-content .row .payment-info-container .payment-text ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .footer-content .row .payment-info-container .payment-text ul li {
  text-decoration: none;
  color: #fff;
}

.footer .footer-content #footer-payment-logos {
  margin-top: 50px;
}

.footer .footer-content #footer-payment-logos li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
/*# sourceMappingURL=styles.css.map */